<div ng-controller="produtosController">
    <h1>Admin Panel</h1>
    <button ng-click="logout()">Logout</button>

    <h2>Produtos</h2>
    <ul>
        <li ng-repeat="produto in produtos">
            {{ produto.nomeProduto }} - {{ produto.preco }} - {{ produto.categoria }}
            <button ng-click="deleteProduto(produto._id)">Deletar</button>
        </li>
    </ul>

    <h3>Adicionar Produto</h3>
    <form ng-submit="addProduto()">
        <label>Nome:</label>
        <input type="text" ng-model="nomeProduto" required>
        <br>
        <label>Preço:</label>
        <input type="number" ng-model="preco" required>
        <br>
        <label>Categoria:</label>
        <input type="text" ng-model="categoria" required>
        <br>
        <label>Stock:</label>
        <input type="number" ng-model="stock" required>
        <br>
        <label>Descrição:</label>
        <textarea ng-model="descricao"></textarea>
        <br>
        <button type="submit">Adicionar</button>
    </form>
</div>
